* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  max-height: 100vh;
  width: 100%;
}

body {
  height: 100vh;
  font-family: "WoW SlF";
  font-family: "LifeCraft", sans-serif;
  background-image: url("https://assets.worldofwarcraft.com/static/components/Pane/Pane-dirtDark.ea235926d6487091ac2d6786fd7d2615.jpg")
}

.imgContainer {
  display: flex;
  margin: 2rem 0 0;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  display: block;
  align-items: center;
  text-align: center;
}

.title {
  /* font-family: "WoW SlF"; */
  font-size: 4rem;
  color: white;
  text-shadow: 4px 4px 8px black;
}

.subTitle {
  font-size: 2rem;
  color: white;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}

.factionSelect {
  height: 50px;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  width: 200px;
  background-color: black;
  color: white;
  font-family: "LifeCraft";
  border: 1px solid black;
}

.random {
  color: white;
}

.alliance {
  color: #014D95;
}

.allianceLogo {
  width: 15px;
  height: 15px;
}

.horde {
  color: #8C1616;
}

.outputHorde {
  background-image: url(horde_logo_color.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.outputAlliance {
  background-image: url(alliance_logo_color.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.outputContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
  /* position: absolute; */
  text-align: left;
  /* bottom: 0; */
  left: 0;
  margin-top: 2rem;
}

#Output {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 4rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
  /* position: absolute; */
  /* text-align: left; */
  /* bottom: 0; */
  /* left: 90%; */
  /* margin-top: 2rem; */
}

button {
  margin: 0 1rem;
  font-size: 1.08rem;
  line-height: 1.5;
  font-weight: 400;
  background: rgba(159, 22, 0, 0.5);
  border: 1px solid #000;
  color: #f7b10a;
  min-width: 180px;
  text-transform: uppercase;
  -webkit-transition: background .2s,color .2s;
  transition: background .2s,color .2s;
  outline: none;
}

button:hover {
  font-size: 1.08rem;
  line-height: 1.5;
  font-weight: 400;
  background: rgba(159, 22, 0, 1);
  border: 1px solid #000;
  color: #f7b10a;
  cursor: pointer;
  min-width: 180px;
  text-transform: uppercase;
  -webkit-transition: background .2s,color .2s;
  transition: background .2s,color .2s;
}


.footerContainer {
  text-transform: uppercase;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  color: white;
  font-size: .7rem;
  font-family: sans-serif;
  padding: 1rem;
}

.footerContainer p {
  max-width: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* margin-top: .5rem; */
  margin: .5rem 0 0 2rem;
  /* padding: 0 1rem; */
  line-height: 1rem;
}

.premiare {
  display: block;
  text-align: center;
  justify-content: center;
  padding: 0 .2rem;
}

.footerContainer a {
  display: flex;
  justify-content: space-between;
  color: white;
}

.socialIconLink {
  display: flex;
  margin: 0 1rem;
}

.socialLinks {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}

.socialIcon {
  margin-top: .5rem;
  filter: invert(100%);
  max-width: 40px;
  z-index: 1;
}
